:root {
    --color-primary: #ccc;
    --color-secondary: #f6b26d;
    --color-contrast: #000;
    --color-intense: #cc9900;
    --color-monospace: #d7c4ac;
    --color-monospace-title: #f5d6b8;
    --color-monospace-dim: #807466;
    --color-monospace-contrast: #cc6600;
    --color-background-primary: #111;
    --color-background-secondary: #000;
    --color-background-tertiary: #222;
    --color-background-light: #444;
    --color-background-contrast: #ff9f40;
    --color-background-monospace: #000;
    --color-background-monospace-title: #222;

    --color-button-red: #bf3030;
    --color-button-yellow: #bfbf30;
    --color-button-green: #30bf30;

    --size-radius-default: 1rem;
    --size-border-default: 2px;
    --size-terminal-radius: 1rem;
    --size-terminal-border: 2px;
}

html {
    background: var(--color-background-primary);
    color: var(--color-primary);
}

input {
    background: #000000;
    color: #00ff00;
}

input[type="submit"] {
    background: #000000;
    color: #00ff00;
}

body > header,
body > footer {
    background: var(--color-background-secondary);
    color: var(--color-secondary);
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);*/
}

::-webkit-scrollbar {
    width: 0;               /* width of the entire scrollbar */
}
::-webkit-scrollbar-track {
    background: #dddddd;        /* color of the tracking area */
}
::-webkit-scrollbar-thumb {
    background-color: #bbbbbb;    /* color of the scroll thumb */
    border-radius: 0;       /* roundness of the scroll thumb */
    border: 1px solid #aaaaaa;  /* creates padding around scroll thumb */
}

body > main {
    scrollbar-face-color: #367CD2;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
    scrollbar-color: light;
}

.console_name {
    color: #0000ff;
}

.ooc {
    color: #bbb;
}