body > header,
body > footer {
    display: flex;
    flex-direction: row;
    padding: 1px;
    align-items: center;
    font-family: 'VT323', monospace;
    font-size: 24px;
}

body > header > .left {
    font-size: 36px;
}

body > header > *,
body > footer > * {
    flex-grow: 0;
    padding: 8px 16px;
}

body > header > *:first-child {
    flex-grow: 1;
}
